.btn {
  height: 36px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.btn-primary {
    background: #61BD4F;
    color: #FFFFFF;

    &:hover {
      opacity: 0.7;
    }
  }
}